/**
 * @version 1.0.0
 */

@import url('https://fonts.googleapis.com/css?family=Nunito')
@import 'loader'

$heightPanelTop: 4rem
$widthPanelLeft: 18rem
$minWidth: 480px

$colorFon: #000
$colorFonSecond: #111
$colorText: #fff
$colorTextSecond: #007bff
$colorGrey: #888888

body
    font-family: "Nunito", sans-serif
    font-size: 1em

.scroll
    scrollbar-width: thin
    scrollbar-color: $colorTextSecond $colorFonSecond

    &::-webkit-scrollbar
        width: 7px

    &::-webkit-scrollbar-track
        background: $colorFonSecond

    &::-webkit-scrollbar-thumb
        background-color: $colorTextSecond

#panel-admin
    position: absolute
    min-width: $minWidth
    visibility: hidden

    #panel-admin-left
        position: absolute
        z-index: 900
        top: $heightPanelTop
        width: $widthPanelLeft
        background: $colorFonSecond
        overflow-y: auto
        overflow-x: hidden

        ul
            margin: 0
            padding: 0
            list-style: none

            li
                margin-bottom: 0

                &:before
                    content: none

                ul
                    display: none

        .pal-menu
            padding: 1.3rem 0
            font-size: 1.05rem

            -webkit-touch-callout: none
            -webkit-user-select: none
            -khtml-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none

            .pal-select
                background: url('border1.png') left top repeat-y

            .pal-text
                color: $colorText
                text-decoration: none
                display: block
                padding: 0.4rem 0
                padding-right: 0.9rem
                cursor: pointer

                &:hover
                    background-color: $colorTextSecond

                i
                    font-size: 0.75rem
                    padding-left: 0.3rem

            .pal-sub > span
                background: url(arrow1.png) right center no-repeat
                padding-right: 1.7rem

            .pal-open
                & > ul
                    display: block

                & > span
                    background-image: url(arrow2.png)

            .pal-separation
                display: block
                padding-top: 0
                padding-bottom: 0
                cursor: default

                span
                    display: block
                    height: 0.05rem
                    background: $colorGrey
                    margin: 2px 0

                &:hover
                    background-color: inherit

    #panel-admin-right
        position: absolute
        top: $heightPanelTop
        margin-left: $widthPanelLeft
        background: #fff
        overflow-y: auto
        overflow-x: hidden

        #par-content
            margin-top: 1.3rem
            margin-bottom: 2rem

        &.scroll
            scrollbar-color: $colorTextSecond $colorText

            &::-webkit-scrollbar-track
                background: $colorText

        /*************************/
        
        .table .buttons-block a
            margin-right: 0.8rem

            &:last-child
                margin-right: 0

    #panel-admin-top
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: $heightPanelTop
        background: $colorFon
        min-width: $minWidth

        .pat-button
            display: none
            position: absolute
            top: 0
            left: 0
            width: $heightPanelTop
            height: $heightPanelTop
            background: url(menu1.png) center center no-repeat
            cursor: pointer

            &:hover
                background: url(menu2.png) center center no-repeat

        .pat-title
            position: absolute
            top: 0
            left: 1.3rem
            font-size: 1.4rem
            max-width: 50%
            color: $colorText
            line-height: $heightPanelTop
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            a
                color: $colorText
                text-decoration: none

                &:hover
                    color: $colorTextSecond

        .pat-menu
            position: absolute
            top: 0
            right: 1rem
            max-width: 30%
            color: $colorText

            .pat-menu-title
                cursor: pointer
                font-size: 1.2rem
                padding: 0 1rem
                line-height: $heightPanelTop

                &:hover
                    background: $colorTextSecond

            ul
                display: none
                position: absolute
                z-index: 950
                top: $heightPanelTop
                right: -1rem
                margin: 0
                padding: 0 0 0.3rem 0
                list-style: none
                background: $colorFonSecond
                overflow-y: auto

                li
                    line-height: normal
                    margin: 0

                    &::before
                        content: none

                    a
                        display: block
                        text-decoration: none
                        color: $colorText
                        padding: 0.5rem 1rem
                        font-size: 1.05rem
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis

                        &:hover
                            background: $colorTextSecond

                    i
                        font-size: 0.75rem
                        padding-left: 0.3rem
                    
                    .pat-separation
                        display: block
                        height: 0.05rem
                        background: $colorGrey
                        margin: 0.2rem 0.5rem

                &.pat-show
                    display: block

    &.mod1 #panel-admin-right
        margin-left: 0

    &.mod1 #panel-admin-top
        .pat-button
            display: block

        .pat-title
            left: $heightPanelTop + 0.8rem

    &.mod1 #panel-admin-left
        left: -1 * ($widthPanelLeft + 100)

    &.mod1 #panel-admin-left.pal-show
        left: 0

    #panel-admin-utility
        display: none

#loading
    position: fixed
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(255, 255, 255, 0.2)

    .cssload-container
        margin-top: -20px
